* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #343a40;
  font-family: sans-serif;
}

#header,
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #bcd1c8;
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
}

.nav-bar {
  width: 30%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.nav-links li a:hover {
  color: #4a4e7f;
}

/* makes nav bar stick to the top */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 8vh;
}

/* content-section */

main {
  height: 100vh;
}

.hero-image {
  background-image: url("../images/hero-image-placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-info-box {
  position: absolute;
  margin-left: 10vw;
  margin-top: 20vh;
  width: 20%;
  min-height: 20vh;
  padding: 10px;
  border: 1px solid #343a40;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  background-color: #bfc0d2;
}

/* Product overview */

.landing-product-overview {
  background-color: #ffffff;
  height: 100vh;
  place-self: center;
}

.landing-product-overview h1,
.landing-footer h1 {
  padding: 10px 0px 7vh 7vw;
}

.product-grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2vh;
}

.product {
  justify-content: center;
  width: 40vh;
  height: 38vh;
  text-align: center;
  place-self: center;
}

.product img {
  background-color: #ffe8cc;
  padding: 15px 15% 15px 15%;
  height: 85%;
  /* padding-bottom: 10px; */
}

.product p {
  text-align: left;
  padding-left: 20%;
  font-size: 20px;
}

/* Footer */

.landing-footer {
  height: 30vh;
  background-color: #ffe8cc;
}
