* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #343a40;
  font-family: sans-serif;
}

#header,
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #bcd1c8;
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
}

.nav-bar {
  width: 30%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.nav-links li a:hover {
  color: #4a4e7f;
}

/* makes nav bar stick to the top */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 8vh;
}

/* content-section */

main {
  height: 100vh;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.345), rgba(0, 0, 0, 0.245)),
    url("../images/hero-image-full.jpg") no-repeat center / cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-info-box {
  position: absolute;
  margin-left: 10vw;
  margin-top: 20vh;
  width: 20%;
  min-height: 20vh;
  padding: 10px;
  border: 1px solid #343a40;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  background-color: #bfc0d2;
}

/* Product overview */

.landing-product-overview {
  background-color: #ffffff;
  min-height: 100vh;
}

.landing-product-overview h1,
.landing-footer h1 {
  padding: 1rem 0 3rem 7rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.product-item {
  width: calc(30% - 16px);
  background-color: #ffe8cc;
  max-width: 360px;
}

.product-item .product-image {
  margin: 16px 32px 16px 32px;
  position: relative;
  overflow: hidden;
}

.product-item img {
  width: 100%;
  display: block;
}

.product-item .product-image div {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 0.8rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.add-button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #343a40;
  color: #343a40;
  font-size: 16px;
  padding: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
}

.product-image:hover div {
  transform: translateY(0);
}

.product-description {
  background-color: #ffffff;
  padding: 0.5rem 2rem;
}

.product-name {
  display: block;
  font-weight: 700;
  color: #343a40;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.product-price {
  font-weight: 300;
  opacity: 0.9;
}

/* Footer */

.landing-footer {
  height: 30vh;
  background-color: #ffe8cc;
}

/* Individual product page */
.individual-product-wrapper {
  height: 64vh;
  width: 700px;
  margin: 3rem auto;
}

.individual-product-wrapper .product-img,
.individual-product-wrapper .product-info {
  float: left;
}

.individual-product-wrapper .product-text {
  height: 300px;
  width: 330px;
  margin: 0 0 0 34px;
}

.individual-product-wrapper .product-text h1 {
  margin-top: 3rem;
  letter-spacing: 0px;
}

.individual-product-wrapper .product-text p {
  height: 80px;
  line-height: 1.7em;
  font-weight: lighter;
  overflow: hidden;
}

.individual-product-wrapper .product-price-btn {
  height: 100px;
  width: 300px;
  position: relative;
}

.individual-product-wrapper .product-price-btn p {
  display: inline-block;
  position: absolute;
  height: 50px;
  top: 5px;
  margin: 0 0 0 34px;
  font-size: 28px;
  font-weight: lighter;
}

.individual-product-wrapper span {
  display: inline-block;
  height: 50px;
  font-size: 34px;
}

.individual-product-wrapper .product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 130px;
  margin: 0 0 0 17px;
  box-sizing: border-box;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.2em;
  background-color: #bcd1c8;
  cursor: pointer;
  text-transform: uppercase;
}

.individual-product-wrapper .product-price-btn button:hover {
  background-color: #85d2b1;
}

.product-reviews h1,
.product-reviews p {
  float: left;
  width: 100%;
}

.product-reviews p {
  margin-top: 5px;
  line-height: 1.7em;
  font-weight: lighter;
  overflow: hidden;
}
